[flake8]
enable-extensions =
    flake8-bugbear,
    flake8-builtins,
    flake8-clean-block,
    flake8-commas,
    flake8-comprehensions,
    flake8-dunder-all,
    flake8-eradicate,
    flake8-expression-complexity,
    flake8-forbidden-func,
    flake8-import-order,
    flake8-plugin-utils,
    flake8-pyproject,
    flake8-quotes,
    flake8-return,
    flake8-simplify,
    flake8-use-pathlib,

exclude =
    venv/,
    env/,
    .venv/,
    lyceum/media/,

per-file-ignores =
    */migrations/*.py:E501,I201,I100,DALL000,C812,
    */manage.py:DALL000,

max-line-length=79
inline-quotes=double
import-order-style=google
application-import-names=*
max-expression-complexity=7
