@font-face {
  font-family: "Headline";
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: "Text-r";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Text-m";
  src: url(../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Text-b";
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}
