@use "sass:string";

@use "./animations";

@mixin blockGlassMixin(
  $brightBack,
  $brightBorder,
  $borderRadius: 0,
){
  background-color: rgba(
    $color: #ffffff,
    $alpha: $brightBack,
  );
  backdrop-filter: blur(20px);
  border: 1px solid rgba(
      $color: #ffffff,
      $alpha: $brightBorder,
  );
  box-shadow: 0 0 30px rgba($color: #ffffff, $alpha: .05);

  @if $borderRadius == 0{
    border-radius: 10px;
  } @else {
    border-radius: $borderRadius;
  }
}

@mixin btnMixin(
  $x: 10px,
  $y: 15px,
  $fontSize: 16px,
  $brightBack: .08,
  $brightBorder: .08,
){
  @include blockGlassMixin($brightBack, $brightBorder, 50px);
  padding: $x $y;
  font-size: $fontSize;
  cursor: pointer;
  transition: background-color .2s;

  &:hover{
    background-color: rgba(
      $color: #FFF,
      $alpha: $brightBack + 0.05,
    );
  }
}

@mixin gradientMixin(
  $width,
  $height,
  $blur,
  $backSize,
  $gradients...,
){
  z-index: -1;
  content: "";
  position: absolute;
  top:50%;
  left: 50%;
  width: $width;
  height: $height;
  transform: translate(-50%, -50%);
  $background: "";

  @each $gradient in $gradients {
    @if $background != "" {
      $background: $background + ", ";
    }
    $background: $background + $gradient;
  }

  background: string.unquote($background);
  background-size: $backSize;
  filter: blur($blur);
  animation: gradient 15s ease infinite;
}
