$back: linear-gradient(
  to right bottom,
  #212121,
  #202020,
  #1f1f1f,
  #1e1e1e,
  #1d1d1d
);

$textColor: #ffffff;
$textColorSecond: rgba(
  $color: #fff,
  $alpha: .5
);

// sidebar colors
$sb-track-color: #212121;
$sb-thumb-color: #696969;
$sb-size: 7px;

$gradient: linear-gradient(
  -45deg,
  #ee7752,
  #e73c7e,
  #23a6d5,
  #23d5ab,
  #8772FF,
);
