@use "../../styles/mixins";

.glassBlock404{
  display: grid;
  place-content: center;
  margin-top: 40px;

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    max-width: 99vw;

    span{
      font-size: 500px;
      font-weight: 700;
      z-index: -1;
    }
    .btn_okak{
      position: absolute;
      bottom: 20%;
    }
  }
}
