@use "../../styles/mixins";

.glassBlock404{
  display: grid;
  place-content: center;
  margin-top: 40px;

  .wrapper{
    --index: calc(1vw + 1vh);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: relative;
    max-width: 99vw;

    img{
      width: calc(var(--index) * 27);
    }
    span{
      font-size: calc(var(--index) * 15);
      font-weight: 700;
      z-index: -1;
    }
    .btn_okak{
      position: absolute;
      bottom: 20%;
    }
  }
}
