@use "../../styles/mixins";
@use "../../styles/variables";

.upload-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
  margin-block: 20px;
  padding: 20px;

  @include mixins.blockGlassMixin(
    .05,
    .05,
    40px
  );

  &::after{
    @include mixins.gradientMixin(
      50%,
      50%,
      400px,
      200% 200%,
      conic-gradient(
        from 45deg,
        #ee7752,
        #e73c7e,
        #23a6d5,
        #23d5ab,
        #8772FF,
      ),
    )
  }
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 900px;
  width: 100%;
}

.drop-zone {
  position: relative;
  padding: 20px;
  @include mixins.blockGlassMixin(
    .03,
    .18,
    40px
  );

  &.video{
    height: 400px;
  }
  &.img{
    height: 160px;
  }

  p, img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p{
    font: {
      weight: 700;
      size: 32px;
    }
  }
}

.text-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.text-input {
  width: 100%;
  height: 90px;
  @include mixins.blockGlassMixin(
    .05,
    .05,
    40px
  );
  padding: 20px;
  padding-right: 85px;
  color: "#fff";
  font-size: 18px;
  resize: none;

  &::placeholder {
    color: variables.$textColorSecond;
    font-weight: 700;
  }

  &:focus {
    outline: none;
  }
}

.submit-button {
  position: absolute;
  right: 10px;
  @include mixins.btnMixin(
    10px,
    10px,
    20px,
    .05,
    .05,
  );
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;


}
