#root{
  display: flex;
  min-height: 100vh;
  padding: 20px;
  flex-direction: column;

  &:has(aside){
    flex-direction: row;
    gap: 40px;
    padding: 0;

    .all-content{
      padding: 20px;

      main{
        width: 1200px;
        align-self: center;
      }
    }
  }
}


.all-content{
  flex: 1;
  display: flex;
  flex-direction: column;
}
