@use "./styles/mixins";
@use "./styles/variables";

// временный костыль
@import url("./styles/_fonts.scss");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: variables.$textColor;

  font: {
    family: "Text-r", sans-serif;
    weight: 400;
    size: 16px;
  };
}

h1, h2, h3{
  font: {
    family: "Headline", sans-serif;
  };
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

body{
  background: variables.$back;
  background-repeat: no-repeat;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1 1 auto;
}

.btn{
  @include mixins.btnMixin(15px, 15px, 16px)
}

.links{
  display: flex;
  gap: 40px;
  align-items: center;
}
