@use "./styles/mixins";
@use "./styles/variables";

// временный костыль
@import url("./styles/_fonts.scss");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: variables.$textColor;

  font: {
    family: "Text", sans-serif;
    weight: 400;
    size: 16px;
  };
}

h1, h2, h3{
  font: {
    family: "Headline", sans-serif;
  };
}

a{
  text-decoration: none;
  position: relative;
}
a:not(.btn, :has(img)){
  &::after{
    content: "";
    display: block;
    height: 2px;
    border-radius: 20px;
    background: variables.$textColor;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    transition:
      width .2s cubic-bezier(0.215, 0.61, 0.355, 1),
      left  .2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &:hover::after{
    left: 0;
    width: 100%;
  }
}

ul{
  list-style: none;
}

::-webkit-scrollbar {
  width: variables.$sb-size;
}

::-webkit-scrollbar-track {
  background:variables.$sb-track-color;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: variables.$sb-thumb-color;
  border-radius: 20px;

}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color:
      variables.$sb-thumb-color
      variables.$sb-track-color;
  }
}

body{
  background: variables.$back;
  background-repeat: no-repeat;
}

main{
  flex: 1 1 auto;
}

.btn{
  @include mixins.btnMixin(15px, 15px, 16px);
}
.btn_chatSidebar{
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.links{
  display: flex;
  gap: 40px;
  align-items: center;
}

input,
textarea,
select{
  padding: 10px 15px;
  font-size: 20px;
  outline: none;
  @include mixins.blockGlassMixin(
      .1,
      .1,
      10px,
  );
}

form {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper{
    padding: 40px;;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    width: 100vw;
    position: relative;

    &::after{
      @include mixins.gradientMixin(
        80%,
        80%,
        150px,
        200% 200%,
        variables.$gradient,
      )
    }

    h2{
      font-size: 32px;
      font-weight: 900;
      text-align: center;

      label{
        font-weight: 700;
      }
    }
    div{
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 10px;
    }
    .links{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
